*{
  box-sizing:border-box;
  text-align: center;
}

body {
  font-family: 'Arial', 'Helvetica Neue', Helvetica,  sans-serif;
  color: #777;
  background-color: #777;
  width: 960px;
  font-size: 18px;
  padding: 0;
  margin: auto;
}

header, nav, section, aside, footer, h1, p {
  background: #ebebeb;
}

header {
  padding: 20px;
  margin-top: 10px;
}

nav {
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}

aside {
  float: left;
  width: 445px;
  height: 350px;
  margin-left: 20px;
}  

section {
  float: left;
  width: 495px;
  height: 350px;
  margin-bottom: 20px;
}

article {
  width: 455px;
  height: 250px;
  background-color: #777;
  color: #ebebeb;
  padding: 10px;
  margin: 0;
}

footer {
  padding: 20px;
  clear: both;
  margin-top: 20px;
}
.box {
  width: 425px;
  color: #777;
  padding: 10px;
}